# Python Data Types

### String Operations
Series of characters or data stored as text

In [1]:
my_string = "Hello"

In [2]:
# returns the string with all uppercase letters
my_string.upper()

'HELLO'

In [3]:
# returns the length of a string
len(my_string)

5

In [4]:
# returns the index of the first instance of the string inside the subject string, otherwise -1
my_string.find('l')

2

In [5]:
# replaces any instance of the first string with the second in my_string
my_string.replace('H', 'C')

'Cello'

### Integer
A whole number

In [6]:
my_integer = 12321

### Float
A decimal number

In [7]:
my_decimal = 3.14

### Boolean
Discrete value: true or false

In [8]:
a = True
b = False

### Dictionary
Changeable collection of key-value pairs

In [9]:
my_dictionary = {'banana' : 12, 1: 'laptop', (0,0):'center'}
my_dictionary

{'banana': 12, 1: 'laptop', (0, 0): 'center'}

#### Dictionary Operations

In [10]:
# access value using key
my_dictionary['banana']

12

In [11]:
# Get all keys in a dictionary as a list
my_dictionary.keys()

dict_keys(['banana', 1, (0, 0)])

In [12]:
# Get all values in a dictionary as a list
my_dictionary.values()

dict_values([12, 'laptop', 'center'])

### Tuple
Unchangeable collection of objects

In [14]:
tup = (1, 3.12, False, "Hi")
tup

(1, 3.12, False, 'Hi')

### List
Changeable collection of objects

In [15]:
my_collection = [1, 2, 3.14, True, "Hi"]
my_collection

[1, 2, 3.14, True, 'Hi']

#### List Operations

In [16]:
# return the length of a list
len(my_collection)

5

In [18]:
# add multiple items to a list
my_collection.extend(["More", "Items"])
my_collection

[1, 2, 3.14, True, 'Hi', 'More', 'Items', 'More', 'Items']

In [19]:
# add a single item to a list
my_collection.append("Single")
my_collection

[1, 2, 3.14, True, 'Hi', 'More', 'Items', 'More', 'Items', 'Single']